footer {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  section.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      padding: 1rem;
      width: 40vw;
      height: 40vh;
    }
    h3 {
      font-size: 2.5rem;
      color: white;
      padding: 1rem;
    }
  }

  section.socialLink {
    img {
      width: 6vw;
      height: 6vh;
      margin: 1rem 1rem;
    }
  }
}
