header {
  display: flex;
  flex-wrap: wrap;
  background-color: white;

  //sticky設定
  position: sticky;
  top: 0;
  z-index: 10;

  //header陰影設定
  box-shadow: 10px 5px 5px black;
}

section.headerLogo {
  flex: 1 1 300px;

  display: flex;
  flex-wrap: wrap;

  img {
    flex: 1 1 100px;
    width: 10vw;
    height: 10vh;
    padding-top: 0.5em;
  }

  h1 {
    flex: 3 1 400px;
    font-size: 2.25rem;
    padding: 1rem;
    align-items: center;
  }
}

nav {
  flex: 3 1 600 px;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li {
      padding: 2rem 2rem 0.5rem 2rem;
      font-size: 1rem;
      &:hover {
        color: blueviolet;
        border-bottom: 0.1rem solid blueviolet;
      }
    }
  }
}
